.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.btn svg:not(:only-child) {
  margin-right: 0.5rem;
}

.input-group-append .custom-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item {
  padding: .25rem 1rem;
}

.shopping-list {
  max-width: 40rem;
}

.shopping-list form.gutters > * {
  margin-bottom: 1rem;
}

.shopping-list ul input[type="text"]:not(:focus),
.shopping-list ul input[type="number"]:not(:focus),
.shopping-list ul select:not(:focus) {
  border: 0;
}

input[name="quantity"] {
  text-align: right;
  min-width: 3.5rem !important;
}

@media (min-width: 768px) {
  .gutters > *:not(:last-child) {
    margin-right: 1rem;
  }
  .shopping-list form .input-group {
    max-width: 25%;
  }
}
