.gutters > *:not(:last-child) {
  margin-right: 1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  width: 1rem;
  height: 1rem;
}

.btn svg:not(:only-child) {
  margin-right: 0.5rem;
}

.shopping-list {
  max-width: 40rem;
}