.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.btn svg:not(:only-child) {
  margin-right: 0.5rem;
}

.gutters>*:not(:last-child) {
  margin-right: 1rem;
}

.shopping-list {
  max-width: 40rem;
}

.shopping-list ul input[type="text"]:not(:focus) {
  border: 0;
}