.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*
  https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
*/
.btn svg {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

/*
  https://developer.mozilla.org/en-US/docs/Web/CSS/:not
  https://developer.mozilla.org/en-US/docs/Web/CSS/:only-child
*/
.btn svg:not(:only-child) {
  margin-right: 0.5rem;
}

input:focus, select:focus {
  position: relative;
  z-index: 1;
}

.input-group-append .custom-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item {
  padding: .25rem 1rem;
}

.shopping-list {
  max-width: 40rem;
}

.shopping-list ul input,
.shopping-list ul select {
  border: 0;
}

/*
  https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Attribute_selectors
*/
input[name="quantity"] {
  text-align: right;
  min-width: 3.5rem !important;
}

.shopping-list form.gutters > * {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  /*
    https://developer.mozilla.org/en-US/docs/Web/CSS/:not
    https://developer.mozilla.org/en-US/docs/Web/CSS/:last-child
  */
  .gutters > *:not(:last-child) {
    margin-right: 1rem;
  }
  .shopping-list form .input-group {
    max-width: 25%;
  }
}
